@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.main_menu {
    -fx-background-image: url('../images/GameMenuBackground.png');
}

.gameplay{
    -fx-background-image: url('../images/GameplayBackground.png');
}

.leaderboard{
    -fx-background-image: url('../images/LeaderboardBackground.png');
}

.setName{
    -fx-background-image: url('../images/SetNameBackground.png');
}

.pixelify-sans-text {
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-size: 40px;
}

.pixelify-sans-small-text {
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-size: 20px;
}

.pixelify-sans-large-text {
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-size: 50px;
}
